html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: content-box;
  /*line-height: normal;*/
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUIRegular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUILight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUISemiBold.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUIBold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 1.15;
}

h2, h3 {
  font-size: 16px;
}

body,
select,
input,
textarea,
button {
  font-family: "Segoe UI", "Arial", sans-serif;
}

div,
article,
ul {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}

.main-header {
  /*padding-bottom: 10px;*/
  margin-bottom: 65px;
  padding-top: 124px;
  background: url("../img/header.png") top center no-repeat;
}

.main-navigation {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  /*margin-bottom: 100px;*/
  color: #ffffff;
  background-color: #ae3f7e;
  text-align: center;
}

.mobile-menu-input,
.mobile-menu-btn {
  display: none;
}

.main-menu {
  display: inline-block;
  max-width: 960px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 25px;
  vertical-align: top;
}

.main-menu li:last-of-type {
  margin-right: 0;
}

.main-menu a {
  display: inline-block;
  padding: 16px 0 14px;
  font-weight: 700;
  font-size: 0.8125em; /* 13px/16px */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.main-menu .cart-icon {
  position: relative;
  padding: 0;
  width: 43px;
  height: 44px;
  background-image: url("../img/cart-icon.png");
  background-position: 0 6px;
  background-repeat: no-repeat;
}

.cart-item-count {
  position: absolute;
  top: 10px;
  right: 7px;
  font-weight: 700;
  font-size: 1em; /* 16/16 */
  color: #1b1a1a;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  align-content: space-between;
  max-width: 960px;
  min-height: 447px;
  margin: 0 auto 52px auto;
}

.logo {
  flex-basis: 600px;
  margin-right: auto;
  padding-top: 3px;
}

.logo-wrap {
  max-width: 196px;
  text-align: center;
}

.logo img {
  margin-bottom: 4px;
/*  margin-left: -75px;
  padding-left: 75px;*/
}

.logo h1 {
  margin: 0;
  font-weight: 700;
  font-size: 0.75em; /* 12/16 */
  color: #312c2e;
  text-transform: uppercase;
  /*letter-spacing: 0.1;*/
}

.contacts {
  flex-basis: 320px;
  /*margin-left: auto;*/
  text-align: right;
  font-weight: 700;
}

.free-call {
  margin: 0;
  margin-bottom: 8px;
  font-size: 0.875em; /*14/16*/
  /*line-height: 1em;*/
}

.header-phone {
  margin: 0;
  margin-bottom: 15px;
  font-size: 1.25em; /* 20/16 */
}

.callback-btn {
  display: inline-block;
  margin-bottom: 22px;
  padding: 6px 18px;
  font-weight: 500;
  font-size: 0.75em; /* 12/16 */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  background-color: #92c329;
}

.callback-btn:hover,
.callback-btn:active,
.callback-btn:focus,
.callback-btn:visited {
  color: #ffffff;
  text-decoration: none;
}

.contacts-tip {
  display: inline-block;
  max-width: 244px;
  margin: 0;
  font-size: 0.875em; /* 14/16 */
  line-height: 1.428571428571429; /* 20/14 */
}

.header-text {
  flex-basis: 330px;
  align-self: flex-end;
  margin-right: auto;
}

.header-text p {
  display: inline-block;
  max-width: 370px;
  margin: 0;
  margin-bottom: 3px;
  padding: 3px 12px 4px 18px;
  font-weight: 700;
  font-size: 1.625em; /*26/16*/
  color: #ffffff;
  background-color: #ae3f7e;
  text-transform: uppercase;
}

.header-text p:last-child {
  margin-bottom: 0;
  padding-bottom: 3px;
}

.header-reviews {
  flex-basis: 269px;
  min-height: 197px;
  margin-bottom: -17px;
  padding-top: 61px;
  text-align: center;
  color: #ffffff;
  background: url("../img/review.png") bottom right no-repeat;
}

.review-number {
  margin: 0;
  padding-left: 5px;
  font-weight: 700;
  font-size: 3.8125em; /* 61/16 */
  line-height: 1;
  text-shadow: 0 1px 1px #891155;
}

.review-desc {
  margin: 0;
  margin-bottom: 36px;
  padding-left: 8px;
  font-weight: 300;
  font-size: 2.125em; /* 34/16 */
  line-height: 0.5;
  text-shadow: 0 1px 1px #891155;
}

.add-review {
  padding-left: 7px;
  font-size: 0.75em; /* 12/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.add-review:hover,
.add-review:focus,
.add-review:active,
.add-review:visited {
  color: #ffffff;
  text-decoration: none;
}

.down-btn {
  display: block;
  width: 12.5%; /* 120/960 */
  height: 120px;
  margin: 0 auto;
  font-size: 0;
  background: url("../img/down-btn.png") center top no-repeat;
  background-size: contain;
}

.catalog {
  margin-bottom: 52px;
  background: url("../img/catalog-background.jpg") top center no-repeat;
}

.catalog-wrap {
  max-width: 1010px;
  margin: 0 auto;
  padding: 30px 0 93px 0;
}

.catalog-heading {
  margin: 0 0 57px 0;
  font-weight: 700;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.catalog-item {
  padding: 55px 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.item-img {
  position: relative;
  max-width: 48.31683168316832%; /* 488/1010*/
  /*max-width: 606px;*/
}

.item-img img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/*.item-img::after {
  content: "";
  position: absolute;
  bottom: -10px;
  z-index: 2;
  display: block;
  width: 162px;
  height: 83px;
  background: url(../img/watermark.png) no-repeat;
}*/

.catalog-item:nth-of-type(2n+1) .item-img::after {
  right: 0;
}

.catalog-item:nth-of-type(2n) .item-img::after {
  left: 0;
}

.exclusive::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 2;
  display: block;
  width: 143px;
  height: 143px;
  background: url(../img/exclusive.png) no-repeat;
}

.limited::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 2;
  display: block;
  width: 143px;
  height: 143px;
  background: url(../img/limited.png) no-repeat;
}

.harvest2016::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 5px;
  z-index: 2;
  display: block;
  width: 143px;
  height: 143px;
  background: url(../img/harvest2016.png) no-repeat;
}

.catalog-item:nth-of-type(2n+1) .item-img {
  float: left;
}

.catalog-item:nth-of-type(2n) .item-img {
  float: right;
}

.catalog-item:nth-of-type(2n+1) .item-properties {
  float: right;
}

.catalog-item:nth-of-type(2n) .item-properties {
  float: left;
}

.item-properties {
  width: 40.79207920792079%; /* 412/1010 */
  padding-top: 10px;
}

.catalog-item:nth-of-type(2n+1) .item-properties {
  padding-right: 25px;
}

.catalog-item:nth-of-type(2n) .item-properties {
  padding-left: 25px;
}

.item-heading {
  margin: 0;
  margin-bottom: 13px;
  color: #a8256f;
  text-transform: uppercase;
}

.bigger {
  display: block;
  font-weight: 700;
  font-size: 1.5em; /* 24/16 */
}

.smaller {
  margin-right: 10px;
  font-weight: 500;
  font-size: 1.125em; /* 18/16 */
  line-height: 1.9;
}

.more {
  display: inline-block;
  margin-top: 6px;
  padding: 3px 18px;
  font-weight: 500;
  font-size: 0.6875em; /* 11/16 */
  color: #141414;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  border: 1px solid #151515;
}

.more:hover,
.more:focus,
.more:visited,
.more:active {
  color: #141414;
  text-decoration: none;
}

.item-description {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 0.875em; /* 14/16 */
  line-height: 1.5;
  color: #1b1a1a;
}

.item-description:last-of-type {
  margin-bottom: 20px;
}

.weight-wrap,
.quantity-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 134px;
  /*overflow: hidden;
  background: url("../img/arrow.png") 107px 37px no-repeat;*/
}

.weight-wrap {
  margin-right: 21px;
  margin-bottom: 28px;
}

.quantity-wrap {
  width: 110px;
}

/*.weight-wrap::after,
.quantity-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 40px;
  width: 1px;
  background-color: #6e6e6e;
}*/

.weight-wrap::before,
.quantity-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 32px;
  display: block;
  height: 32px;
  width: 1px;
  background-color: #6e6e6e;
  /*border: 1px solid #6e6e6e;*/
  /*background: url("../img/arrow.png") center center no-repeat;*/
}

.order-params label {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 0.6875em; /* 11/16 */
  text-transform: uppercase;
}

.order-params select {
  /*width: 175px;*/
  height: 32px;
  /*margin-right: -20px;*/
  padding: 0 17px;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-size: 0.875em; /* 14/16 */
  background-color: transparent;
  border: 1px solid #6e6e6e;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
}

.order-params select::-ms-expand {
  display: none;
}

.weight-wrap select {
  width: 134px;
  background-position: 107px 17px;
}

.quantity-wrap select {
  width: 110px;
  background-position: 83px 17px;
}

.price {
  margin: 0;
  color: #424242;
}

.price-value {
  font-size: 2.375em; /* 38/16 */
}

.price-currency {
  margin-right: 24px;
  font-size: 0.75em; /* 12/16 */
}

.add-to-cart {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  padding: 8px 14px 8px 13px;
  vertical-align: top;
  font-weight: 700;
  font-size: 0.6875em; /* 11/16 */
  color: #ffffff;
  text-transform: uppercase;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.add-to-cart::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/sprite.png") -5px -57px no-repeat;
}

.add-to-cart::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border-radius: 3px;
}

.order {
  max-width: 960px;
  margin: 0 auto 90px auto;
  text-align: center;
  padding-top: 60px;
  margin-top: -60px;
}

.order h2 {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.order p {
  margin: 0 0 21px 0;
  font-weight: 300;
  font-size: 0.875em; /* 14/16 */
  line-height: 1.428571428571429; /*20/14*/
  color: #1b1a1a;
  text-align: left;
}

.order-bolder {
  font-weight: 700;
  font-size: 1em; /* 14/14 */
  text-transform: uppercase;
}

.order p:last-of-type {
  margin-bottom: 28px;
}

.phone-order {
  position: relative;
  display: inline-block;
  margin-top: 11px;
  padding: 12px 42px 12px 44px;
  vertical-align: top;
  font-weight: 700;
  font-size: 1.125em; /* 18/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border: none;
  border-radius: 3px;
}

.phone-order::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/sprite.png") -5px -57px no-repeat;
}

.phone-order::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border-radius: 3px;
}

.payment {
  max-width: 960px;
  margin: 0 auto 75px auto;
  padding-top: 60px;
  margin-top: -60px;
}

.payment h2 {
  margin: 0 0 35px 0;
  font-weight: 700;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.payment p {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 0.875em; /* 14/16 */
  line-height: 1.5;
  color: #1b1a1a;
}

.payment p:last-of-type {
  margin-bottom: 25px;
}

.payment-method {
  text-align: center;
}

.payment-icon {
  width: 83px;
  height: auto;
  margin: 0 10px 15px 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.26);
}

.payment-icon:last-child {
  margin-right: 0;
}

.delivery {
  max-width: 960px;
  margin: 0 auto 75px auto;
  padding-top: 60px;
  margin-top: -60px;
}

.delivery h2 {
  margin: 0 0 35px 0;
  font-weight: 700;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.delivery p {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 0.875em; /* 14/16 */
  line-height: 1.5;
  color: #1b1a1a;
}

.delivery p:last-of-type {
  margin-bottom: 30px;
}

.delivery b {
  font-weight: 700;
}

.delivery-method {
  padding: 0;
  text-align: center;
  font-size: 0;
}

.delivery-method img {
  width: 125px;
  height: auto;
  margin-right: 14px;
  margin-bottom: 15px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.26);
}

.delivery-method img:last-child {
  margin-right: 0;
}

.benefit {
  max-width: 960px;
  margin: 0 auto 75px auto;
  padding-top: 60px;
  margin-top: -60px;
}

.benefit h2 {
  margin: 0 0 37px 0;
  font-weight: 700;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.benefit-left {
  float: left;
}

.benefit-right {
  float: right;
}

.benefit-left,
.benefit-right {
  width: 50%;
  margin: 0;
}

.benefit-list {
  list-style: none;
  padding: 0;
}

.benefit-item {
  margin-bottom: 8px;
  padding: 5px 20px 5px 45px;
  font-size: 0.875em; /*14/16*/
  line-height: 1.285714285714286; /*18/14*/
  background: url("../img/benefit-icon.png") left center no-repeat;
}

.features {
  max-width: 960px;
  margin: 0 auto 105px auto;
  padding-top: 60px;
  margin-top: -60px;
}

.features h2 {
  margin: 0 0 42px 0;
  font-weight: 700;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.features p {
  margin: 0 0 19px 0;
  font-weight: 300;
  font-size: 0.875em; /* 14/16 */
  line-height: 1.428571428571429;
  color: #1b1a1a;
}

.features p:last-of-type {
  margin-bottom: 29px;
}

.feature-img1,
.feature-img2 {
  margin-right: 0.33333333333333%; /* 4/1200 */
}

.feature-img1 {
  width: 46.41666666666667%; /* 557/1200 */
}

.feature-img2 {
  width: 25.91666666666667%; /* 331/1200 */
}

.feature-img3 {
  width: 26.08333333333333%; /* 313/1200 */
}

.reviews {
  max-width: 960px;
  margin: 0 auto 133px auto;
  text-align: center;
  padding-top: 60px;
  margin-top: -60px;
}

.reviews h2 {
  margin: 0 0 52px 0;
  font-weight: 700;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.reviews-wrap {
  width: 88.125%; /* 846/960 */
  margin-bottom: 56px;
  padding: 38px 0 35px 0;
  background-color: #ffffff;
}

.review-item {
  margin-bottom: 37px;
  padding-right: 10px;
  text-align: left;
}

.review-item:last-child {
  margin-bottom: 0;
}

.review-avatar {
  position: relative;
  float: left;
  width: 11.17717003567182%; /* 94/841 */
  text-align: right;
}

.review-avatar img {
  border-radius: 3px;
}

.vk-icon::after {
  content: "";
  position: absolute;
  right: -8px;
  bottom: -4px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/sprite.png") -5px -271px no-repeat;
  border-radius: 50%;
}

.review-main {
  margin-left: 13.07966706302021%; /* 110/841 */
}

.review-name {
  display: inline-block;
  margin: 0 15px 0 0;
  font-weight: 700;
  font-size: 1em;
}

.social-top {
  display: flex;
  margin-bottom: 15px;
}

.review-time {
  margin: 0 auto 0 0;
  color: #c3bec2;
}

.social-top a {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 0;
  background: url("../img/sprite.png") no-repeat;
}

.social-top .copy-link {
  margin-right: 15px;
  background-position: -5px -117px;
}

.social-top .share {
  margin-right: 15px;
  background-position: -5px -243px;
}

.social-top .action-3 {
  background-position: -5px -215px;
}

.review-text {
  margin: 0 0 10px 0;
}

.social-bottom {
  display: flex;
}

.reply {
  margin: 0 auto 0 0;
  color: #78a771;
}

.like-btn,
.dislike-btn {
  display: block;
  width: 22px;
  height: 25px;
  background: url("../img/sprite.png") no-repeat;
}

.like-btn {
  margin-right: 14px;
  font-size: 0;
  background-position: -5px -180px;
}

.dislike-btn {
  margin-right: 20px;
  font-size: 0;
  background-position: -5px -145px;
}

.like-count {
  color: #78a771;
}

.rev-btn-wrap {
  width: 88.125%; /* 846/960 */
}

.more-reviews {
  position: relative;
  display: inline-block;
  width: 158px;
  margin-right: 11px;
  padding: 10px 0 11px 0;
  vertical-align: top;
  font-weight: 500;
  font-size: 0.75em; /* 12/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.all-reviews {
  position: relative;
  display: inline-block;
  width: 158px;
  padding: 10px 0 11px 0;
  vertical-align: top;
  font-weight: 500;
  font-size: 0.75em; /* 12/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.all-reviews::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/sprite.png") -5px -57px no-repeat;
}

.all-reviews::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border-radius: 3px;
}

.vk-feedback {
  background-color: #fbeddb;
}

.vk-feedback-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 78px 0 72px 0;
}

.vk-vidget {
  flex-basis: 41.45833333333333%; /* 398/960 */
  height: 521px;
  padding-top: 7px;
  background: url("../img/vkgroup.jpg") center center no-repeat;
}

.feedback {
  flex-basis: 41.875%; /* 402/960 */
  padding-top: 8px;
  font-size: 1em; /* 16/16 */
  color: #1b1a1a;
}

.feedback h2 {
  margin: 0 0 25px 0;
  font-weight: 500;
  font-size: 1.5em; /* 24/16 */
  color: #272528;
  text-transform: uppercase;
}

.feedback p {
  margin: 0 0 10px 0;
  line-height: 1.4em;
}

.main-phone {
  font-weight: 700;
  font-size: 1.375em; /* 22/16 */
}

.feedback .mail-text {
  margin-bottom: 33px;
  font-size: 0.875em; /*14/16*/
}

.feedback-form label {
  display: none;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border: 1px solid #6e6e6e;
}

.feedback input {
  margin-bottom: 13px;
  padding: 11px 0 10px 13px;
}

.feedback-text {
  height: 123px;
  margin-bottom: 30px;
  padding: 11px 0 0 13px;
}

input::placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input:placeholder-shown {
  color: #1b1a1a;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input::-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input:-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea::placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea:placeholder-shown {
  color: #1b1a1a;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea:-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

.feedback-btn {
  position: relative;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 11px 0 11px 0;
  vertical-align: top;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.feedback-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/sprite.png") -5px -57px no-repeat;
}

.feedback-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border-radius: 3px;
}

.main-footer {
  padding: 18px 0 18px 0;
  color: #ffffff;
  background-color: #ae3f7e;
  text-align: center;
}

.footer-copyright {
  margin: 0;
  font-size: 1em; /* 16/16 */
}

.callback-modal-close {
  display: none;
}

.callback-modal-open {
  display: block;
}

.callback-modal {
  /*position: fixed;
  top: 25%;
  left: 50%;
  right: 0;
  z-index: 99;*/
  /*width: 671px;
  height: 416px;
  margin-left: -335px;*/
  padding-bottom: 20px;
  text-align: center;
  background: #ffffff;
}

.close-btn {
  position: absolute;
  top: 5.52884615384615%; /* 23/416 */;
  right: 3.725782414307%; /* 25/671 */
  display: block;
  width: 21px;
  height: 21px;
  background-color: none;
  background: url("../img/sprite.png") -5px -305px no-repeat;
  border: none;
  outline: none;
}

.callback-heading {
  margin: 12.36959761549925% 0 58px 0; /* 83/671 */
  font-weight: 500;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-transform: uppercase;
}

.callback-form {
  width: 70%;
  margin: 0 auto;
  padding: 0 10px;
  /*outline: 1px dashed yellowgreen;*/
}

.callback-form label {
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.5em; /* 24/16 */
  color: #1b1a1a;
}

.callback-phone {
  width: 87.25274725274725%; /* 397/455 */
  height: 34px;
  margin-bottom: 62px;
}

.callback-modal-btn {
  position: relative;
  display: inline-block;
  width: 55.6043956043956%; /* 253/455 */
  padding: 15px 0 17px 0;
  vertical-align: top;
  font-weight: 700;
  font-size: 1.125em; /* 18/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border: none;
  border-radius: 3px;
}

.callback-modal-btn::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/sprite.png") -5px -57px no-repeat;
}

.callback-modal-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border-radius: 3px;
}

.modal-open {
  overflow: visible;
}

/*.modal {
  overflow: visible;
}*/

/*.modal-open .modal {
  overflow-x: visible;
  overflow-y: visible;
}*/

.modal-scrollbar-measure {
  overflow: visible;
}



.review-modal {
  position: relative;
  padding: 90px 10px 82px 10px;
}

.reviews-close-btn {
  position: absolute;
  top: 22px;
  right: 22px;
  display: block;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: none;
  background: url("../img/sprite.png") -5px -305px no-repeat;
  border: none;
  outline: none;
}

.review-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*flex-wrap: wrap;*/
  padding: 0;
}

.modal-review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 295px;
  flex-shrink: 1;
  padding: 0 20px;
  text-align: center;
}

.modal-review-img {
  display: inline-block;
  width: 260px;
  height: 260px;
  margin: 0 0 20px 0;
  vertical-align: middle;
  color: #ffffff;
  font-weight: 500;
  font-size: 1em; /* 16/16 */
  line-height: 260px;
  text-transform: uppercase;
}

.modal-review-text {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 1em; /* 16/16 */
  color: #312c2e;
}

.modal-review-text:last-of-type {
  margin-bottom: 25px;
}

.ask-question-item {

}

.tea-reviews {
  background: url(../img/review-modal1.jpg);
}

.honey-reviews {
  background: url(../img/review-modal2.jpg);
}

.ask-question {
  background: url(../img/review-modal3.jpg);
}

.modal-review-btn {
  display: inline-block;
  width: 203px;
  margin-top: auto;
  padding: 12px 0;
  vertical-align: top;
  font-weight: 700;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.modal-review-btn:hover,
.modal-review-btn:focus,
.modal-review-btn:active,
.modal-review-btn:visited {
  color: #ffffff;
  text-decoration: none;
}

.modal-full-info {
  text-align: center;
  padding: 80px;
  background: #ffffff url("../img/modal-background.png") center center no-repeat;
}

.close-desc-btn {
  position: absolute;
  top: 23px;
  right: 25px;
  display: block;
  width: 21px;
  height: 21px;
  background-color: none;
  background: url("../img/sprite.png") -5px -305px no-repeat;
  border: none;
  outline: none;
}

.full-info-heading {
  margin: 0 0 45px 0;
  color: #272528;
  text-transform: uppercase;
  text-align: center;
}

.modal-bigger {
  display: block;
  font-weight: 700;
  font-size: 2em; /* 32/16 */
}

.modal-smaller {
  display: block;
  font-weight: 500;
  font-size: 1.5em; /* 24/16 */
}

.item-desc-img {
  max-width: 100%;
}

.img-left {
  float: left;
  margin-right: 15px;
}

.img-right {
  float: right;
  margin-left: 15px;
}

.item-full-info {
  padding: 0;
}

.full-info-text {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 1em; /* 16/16 */
  text-align: left;
}

.full-info-text:last-of-type {
  margin-bottom: 45px;
}

.full-info-close {
  position: relative;
  display: inline-block;
  width: 217px;
  padding: 12px 0;
  vertical-align: top;
  font-weight: 700;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.full-info-close::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/sprite.png") -5px -57px no-repeat;
}

.full-info-close::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border-radius: 3px;
}

.cart-modal {
  position: relative;
  padding: 85px 40px 73px 40px;
}

.cart-heading {
  margin: 0 0 55px 0;
  font-weight: 500;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-transform: uppercase;
  text-align: center;
}

.cart-close-btn {
  position: absolute;
  top: 23px;
  right: 25px;
  display: block;
  width: 21px;
  height: 21px;
  background-color: none;
  background: url("../img/sprite.png") -5px -305px no-repeat;
  border: none;
  outline: none;
}

.cart-form {
  padding: 0;
  text-align: center;
}

.cart-table {
  width: 100%;
  margin-bottom: 37px;
  font-size: 1em;
  color: #1b1a1a;
}

.cart-head {
  font-weight: 700;
  font-size: 1.125em; /* 18/16 */
  color: #ffffff;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
}

th {
  padding: 8px 0 12px 0;
  text-align: center;
}

/*.cart-weight-heading,
.cart-quantity-heading {
  padding-right: 25px;
}*/

.cart-row {
  height: 100px;
  border-bottom: 1px solid #e1e1e1;
}

.cart-img {
  width: 10.98901098901099%; /* 100/910 */
}

.cart-img img {
  width: 100%;
  height: auto;
}

.cart-name {
  max-width: 152px;
  width: 16.7032967032967%; /* 152/910 */
  padding-left: 8px;
  text-align: left;
}

.cart-weight {
  width: 20.10989010989011%; /* 183/910 */
}

.cart-quantity {
  width: 15.05494505494505%; /* 137/910 */
}

.cart-price {
  width: 10.65934065934066%; /* 97/910 */
}

.cart-delete {
  width: 15.6043956043956%; /* 142/910 */
}

.cart-delete-icon {
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/cart-delete.png");
  border: none;
}

.cart-table .weight-wrap {
  margin: 0;
}

.cart-table select {
  /*width: 175px;*/
  height: 40px;
  /*margin-right: -20px;*/
  padding: 0 17px;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-size: 1em; /* 16/16 */
  background-color: transparent;
  border: 1px solid #6e6e6e;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
}

.cart-table select::-ms-expand {
  display: none;
}

.cart-table label {
  display: none;
}

.cart-total {
  font-size: 1em; /* 16/16 */
  color: #ffffff;
  background-color: #a4a4a4;
  background-image: linear-gradient(#c6c6c6, #a4a4a4);
}

.cart-total-text {
  padding: 12px 30px 12px 0;
  font-weight: 700;
  font-size: 1em; /* 16/16 */
  text-transform: uppercase;
  text-align: right;
}

.cart-total-number {
  padding: 12px 0;
}

.go-on-btn {
  position: relative;
  display: inline-block;
  width: 217px;
  margin-right: 15px;
  padding: 15px 0 14px 0;
  vertical-align: top;
  font-weight: 700;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6f9803;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border: none;
  border-radius: 3px;
}

.place-order-btn {
  position: relative;
  display: inline-block;
  width: 217px;
  padding: 15px 0 14px 0;
  vertical-align: top;
  font-weight: 700;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6f9803;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border: none;
  border-radius: 3px;
}

.place-order-btn::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/sprite.png") -5px -57px no-repeat;
}

.place-order-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #6f9803;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border-radius: 3px;
}

.place-order {
  max-width: 960px;
  margin: 0 auto 117px auto;
}

.place-order-table {
  margin-bottom: 75px;
  min-width: 750px;
}

.shipping-heading {
  margin: 0 0 55px 0;
  font-weight: 500;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-transform: uppercase;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 565px;

  /*width: 47.08333333333333%;*/ /* 565/1200 */
  margin: 0 auto 30px auto;
  /*margin-bottom: 30px;*/
  /*text-align: center;*/
}

.input-wrapper:last-of-type {
  margin-bottom: 76px;
}

.shipping-label {
  /*display: inline-block;*/
  display: block;
  /*width: 33.98230088495575%;*/ /* 192/565 */
  /*width: 192px;*/
  flex-basis: 192px;
  flex-shrink: 1;
  height: 40px;
  /*margin: 0 -2px 0 0;*/
  margin: 0 2px 0 0;
  padding: 10px 14px 0 0;
  box-sizing: border-box;
  /*vertical-align: top;*/
  font-weight: 400;
  font-size: 1em; /* 16/16 */
  color: #1b1a1a;
  background-color: #e8e8e8;
  text-align: right;
}

.input-wrapper input,
.input-wrapper select {
  /*display: inline-block;*/
  display: block;
  /*width: 65.66371681415929%;*/ /* 371/565 */
  /*width: 371px;*/
  flex-basis: 371px;
  flex-shrink: 1;
  height: 40px;
  box-sizing: border-box;
  /*vertical-align: baseline;*/
  border: 1px solid #6e6e6e;
  /*box-shadow: -2px 0 0 0 #f8f8f8;*/
  background-color: transparent;
}

.input-wrapper select {
  -webkit-appearance: none;
  background-image: url("../img/arrow2.png");
  background-position: 330px 0;
  background-repeat: no-repeat;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;
}

.input-wrapper select::-ms-expand {
  display: none;
}

.order-country {
  position: relative;
}

.order-country::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 40px;
  display: block;
  height: 40px;
  width: 1px;
  background-color: #6e6e6e;
}

@media screen and (min-width: 1250px) {
  /*.catalog-item:nth-child(1) {
    padding: 77px 0;
  }*/

  .catalog-item:nth-of-type(1) .item-img::after {
    right: 40px;
  }

  .catalog-item:nth-child(2) {
    padding-top: 55px;
    padding-bottom: 45px;
  }

  .catalog-item:nth-child(3) .item-img,
  .catalog-item:nth-child(13) .item-img {
    margin-top: -40px;
  }

  .catalog-item:nth-child(3) {
    padding-top: 35px;
    padding-bottom: 45px;
  }

  .catalog-item:nth-child(4) {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .catalog-item:nth-child(5) {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .catalog-item:nth-child(6) {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .catalog-item:nth-child(7) {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  .catalog-item:nth-child(8) .item-img {
    margin-top: -25px;
  }

  .catalog-item:nth-child(9) {
    padding-top: 35px;
  }

  .catalog-item:nth-child(11) {
    padding-top: 35px;
  }

  .catalog-item:nth-child(12) {
    padding-top: 35px;
  }

  .catalog-item:nth-child(13),
  .catalog-item:nth-child(14),
  .catalog-item:nth-child(15) {
    padding-top: 25px;
  }

  .catalog-item:nth-child(16) {
    padding-top: 45px;
  }

  .catalog-item:nth-child(12) .item-fig,
  .catalog-item:nth-child(16) .item-fig,
  .catalog-item:nth-child(17) .item-fig,
  .catalog-item:nth-child(18) .item-fig,
  .catalog-item:nth-child(19) .item-fig {
    margin-top: -25px;
    padding-bottom: 25px;
  }

  /*.catalog-item:nth-child(n+8) {
    padding-top: 70px;
    padding-bottom: 55px;
  }


  .catalog-item:nth-child(n+16) {
    padding-top: 60px;
    padding-bottom: 55px;
  }*/

  .catalog-item:nth-child(2) .item-img,
  .catalog-item:nth-child(4) .item-img,
  .catalog-item:nth-child(6) .item-img {
    padding-right: 25px;
  }

  .catalog-item:nth-child(2n+1) .item-img {
    padding-left: 25px;
  }

  /*.modal-full-info {
    width: 994px;
  }*/

  .review-modal-wrap {
    width: 1052px;
  }

  .modal-cart-wrap {
    width: 992px;
  }
}

@media screen and (max-width: 1250px) {
  .main-container {
    padding-left: 5%;
    padding-right: 5%;
    /*outline: 3px dashed yellowgreen;*/
  }

  .main-menu li {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1250px) and (min-width: 1150px) {
  .catalog-item:nth-child(-n+10) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .catalog-item:nth-child(n+11) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .main-menu a {
    padding: 19px 0;
    font-weight: 700;
    font-size: 0.875em;
  }

  .logo {
    flex-basis: 400px;
  }

  .catalog {
    background: none;
  }

  .catalog-item {
    padding-top: 0;
  }

  .item-properties {
    width: 45%;
  }

  .feature-img img {
    margin-right: 0;
  }
}

@media screen and (max-width: 1050px) {
  .main-menu a {
    font-size: 0.75em;
    /*padding: 10px 0;*/
  }

  .cart-item-count {
    top: 12px;
    right: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .modal-review-img {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 0.75em;
    background-size: contain;
  }

  /*.modal {
    overflow: scroll;
  }*/

  /*.modal-open {
    overflow: visible;
  }*/

  .modal {
    overflow: visible;
  }

  .modal-open .modal {
    overflow-x: scroll;
    overflow-y: visible;
  }

  /*.modal-scrollbar-measure {
    overflow: visible;
  }*/

  .modal-cart-wrap {
    width: 820px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  .review-modal-wrap {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .main-menu li {
    margin-right: 7px;
  }

  .main-menu a {
    font-size: 0.625em;
  }

  .cart-item-count {
    top: 13px;
    right: 11px;
  }

  .main-header {
    padding-top: 100px;
  }

  .header-wrapper {
    min-height: 0;
    margin-bottom: 0;
}

  .logo {
    margin-bottom: 100px;
  }

  .header-text {
    flex-basis: 300px;
  }

  .header-text p {
    font-size: 1.25em;
  }

  .header-reviews {
    flex-basis: 220px;
    min-height: 150px;
    margin-bottom: -17px;
    padding-top: 50px;
    background-size: contain;
  }

  .review-number {
    padding-left: 15px;
    font-size: 3em; /* 76/16 */
  }

  .review-desc {
    margin-bottom: 25px;
    padding-left: 15px;
    font-size: 1.5em; /* 43/16 */
  }

  .add-review {
    padding-left: 15px;
    font-size: 0.75em; /* 12/16 */
  }

  .down-btn {
    width: 90px;
    height: 90px;
  }

  .catalog-wrap {
    padding-top: 0;
  }
}

@media screen and (max-width: 850px) {
  .logo {
    flex-basis: 300px;
  }

  .item-heading {
    margin-bottom: 30px;
  }

  .bigger {
    font-size: 1.5em;
  }

  .smaller {
    font-size: 1.25em;
  }

  /*.more {
    margin-top: 4px;
    padding: 3px 18px;
    font-weight: 500;
    font-size: 0.6875em;
  }*/

  .item-description {
    margin: 0;
    margin-bottom: 15px;
  }

  .modal-review-item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .main-header {
    background: none;
  }

  .main-navigation {
    text-align: left;
  }

  .mobile-menu-btn {
    display: inline-block;
    padding: 12px 0 10px 40px;
    font-weight: 700;
    font-size: 0.875em;
    color: #ffffff;
    text-transform: uppercase;
    background: url("../img/menu-icon.png") 10px center no-repeat;
    vertical-align: top;
  }

  .main-menu {
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 2;
    display: none;
    background-color: #ae3f7e;
  }

  .mobile-menu-input {
    display: none;
  }

  .main-menu li {
    display: block;
  }

  .main-menu a {
    padding: 15px 0 15px 10px;
    font-size: 0.75em;
  }

  .cart-item-count {
    top: 13px;
    right: 9px;
  }

  .mobile-menu-input:checked ~ label + ul {
    display: block;
  }

  .header-wrapper {
    display: block;
  }

  .logo {
    float: left;
    flex-basis: 0;
    width: 228px;
    margin: 0 auto 40px auto;
  }

  .contacts {
    float: right;
    flex-basis: 0;
    width: 321px;
    margin: 0 auto 40px auto;
  }

  .header-text {
    float: left;
    flex-basis: 0;
    width: 300px;
    margin: 0 auto 40px auto;
  }

  .header-reviews {
    float: right;
    flex-basis: 0;
    width: 220px;
    margin: 0 auto 40px auto;
  }

  .catalog-item:nth-of-type(2n+1) .item-img,
  .catalog-item:nth-of-type(2n+1) .item-properties,
  .catalog-item:nth-of-type(2n) .item-img,
  .catalog-item:nth-of-type(2n) .item-properties {
    float: none;
    width: 85%;
    margin: 0 auto;
  }

  .catalog-item:nth-of-type(2n+1) .item-properties,
  .catalog-item:nth-of-type(2n) .item-properties {
    padding-left: 0;
  }

  .catalog-item:nth-of-type(n) .item-img {
    margin-bottom: 20px;
  }

  .order,
  .payment,
  .delivery,
  .benefit,
  .features,
  .reviews {
    margin-bottom: 60px;
  }

  .order h2,
  .payment h2,
  .delivery h2,
  .benefit h2,
  .features h2,
  .reviews h2 {
    /*margin: 0 0 57px 0;*/
    margin-bottom: 30px;
    font-size: 1.5em; /* 40/16 */
  }

  .order p:last-of-type,
  .payment p:last-of-type,
  .delivery p:last-of-type,
  .benefit p:last-of-type,
  .features p:last-of-type,
  .reviews p:last-of-type {
    margin-bottom: 30px;
  }

  .benefit-left,
  .benefit-right {
    float: none;
    width: 90%;
    margin: 0 auto;
    padding-right: 0;
  }

  .reviews-wrap {
    width: 90%;
  }

  .vk-feedback-wrap {
    display: block;
  }

  .vk-vidget {
    height: 300px;
    margin-bottom: 60px;
  }

  .callback-form {
    width: 90%;
    padding: 0;
    /*outline: 1px dashed yellowgreen;*/
  }

  .item-desc-heading {
    font-size: 1em;
  }

  .feature-img3 {
    width: 25%;
  }

  .modal-full-info {
    padding: 40px;
  }

  .review-body {
    flex-wrap: wrap;
    justify-content: center;
  }

  .modal-review-item {
    margin-bottom: 20px;
  }

  /*.cart-table {
    font-size: 0.875em;
  }

  .cart-table .weight-wrap {
    width: 90px;
  }

  .cart-table .quantity-wrap {
    width: 75px;

  }

  .cart-table .cart-weight-select {
    background-position: 69px 17px;
  }

  .cart-table .cart-quantity-select {
    background-position: 54px 17px;
  }

  .cart-table select {
    width: 100%;
    padding: 0 5px;
  }

  .cart-table .weight-wrap::before,
  .cart-table .quantity-wrap::before {
    right: 26px;
  }*/
}



@media screen and (max-width: 640px) {
  .logo,
  .contacts,
  .header-text,
  .header-reviews {
    float: none;
  }

  .contacts {
    width: 85%;
    text-align: center;
  }

  .header-text {
    text-align: center;
  }

  .item-img::after {
    width: 81px;
    height: 42px;
    background-size: contain;
  }

  .phone-order::before,
  .all-reviews::before,
  .feedback-btn::before,
  .full-info-close::before {
    display: none;
  }

  .more-reviews,
  .all-reviews {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .phone-order {
    font-size: 0.875em;
    padding-right: 0;
    padding-left: 0;
    width: 85%;
  }

  .review-avatar {
    float: none;
    width: 94px;
    margin-bottom: 15px;
  }

  .payment-icon:last-child,
  .delivery-method img:last-child {
    margin-right: 15px;
  }

  .shipping-label {
    padding-right: 5px;
    font-size: 0.875em;
  }
}

@media screen and (max-width: 640px) {
  .header-text {
    width: 230px;
    font-size: 0.75em;
  }

  .phone-order {
    font-size: 0.625em;
  }

  .feature-img3 {
    width: 24%;
  }

  .social-top {
    display: block;
  }

  .review-time {
    margin-bottom: 10px;
  }

  .social-top a {
    display: inline-block;
    vertical-align: top;
  }

  .modal-bigger {
    font-size: 1.5em;
  }

  .modal-smaller {
    font-size: 1em;
  }

  .full-info-close {
    width: 150px;
  }

  .modal-full-info {
    padding: 25px;
  }

}

@media screen and (max-width: 540px) {
  .input-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .shipping-label {
    margin-bottom: 10px;
    padding-right: 0;
    /*align-self: center;*/
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .modal-bigger {
    font-size: 1.25em;
  }

  .modal-smaller {
    font-size: 0.875em;
  }
}
