html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: content-box;
  /*line-height: normal;*/
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUIRegular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUILight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUISemiBold.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUIBold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 1.15;
}

h2, h3 {
  font-size: 16px;
}

body,
select,
input,
textarea,
button {
  font-family: "Segoe UI", "Arial", sans-serif;
}

div,
article,
ul {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}

.main-header {
  /*padding-bottom: 10px;*/
  margin-bottom: 86px;
  padding-top: 156px; /* маргин меню 100px и его высота 56px */
  background: url("../img/header.png") top center no-repeat;
}

.main-navigation {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  /*margin-bottom: 100px;*/
  color: #ffffff;
  background-color: #ae3f7e;
  text-align: center;
}

.main-menu {
  display: inline-block;
  max-width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 5%; /* 60/1200 */
  margin-right: 52px;
  vertical-align: top;
}

.main-menu li:last-of-type {
  margin-right: 0;
}

.main-menu a {
  display: inline-block;
  padding: 19px 0;
  font-weight: 700;
  font-size: 1em; /* 16px/16px */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1200px;
  min-height: 554px;
  margin: 0 auto 70px auto;
}

.logo {
  flex-basis: 600px;
  margin-top: -75px;
  margin-left: -75px;
  padding-top: 78px;
  padding-left: 75px;
  background: url("../img/backlight-logo.png") top left no-repeat;
}

.logo img {
  margin-bottom: 4px;
/*  margin-left: -75px;
  padding-left: 75px;*/
}

.logo h1 {
  margin: 0;
  font-weight: 700;
  font-size: 0.875em; /* 14/16 */
  color: #312c2e;
  text-transform: uppercase;
  letter-spacing: 0.1;
}

.contacts {
  flex-basis: 320px;
  /*margin-left: auto;*/
  text-align: right;
  font-weight: 700;
}

.free-call {
  margin: 0;
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 1em;
}

.header-phone {
  margin: 0;
  margin-bottom: 16px;
  font-size: 1.5em; /* 24/16 */
}

.callback-btn {
  display: inline-block;
  margin-bottom: 25px;
  padding: 9px 25px;
  font-weight: 500;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  background-color: #92c329;
}

.callback-btn:hover,
.callback-btn:active,
.callback-btn:focus,
.callback-btn:visited {
  color: #ffffff;
  text-decoration: none;
}

.contacts-tip {
  display: inline-block;
  max-width: 310px;
  margin: 0;
  font-size: 1.125em; /* 18/16 */
  line-height: 1.375em;
}

.header-text {
  flex-basis: 400px;
  align-self: flex-end;
}

.header-text p {
  display: inline-block;
  max-width: 390px;
  margin: 0;
  margin-bottom: 3px;
  padding: 4px 19px 5px 20px;
  font-weight: 700;
  font-size: 2em;
  color: #ffffff;
  background-color: #ae3f7e;
  text-transform: uppercase;
}

.header-text p:last-child {
  margin-bottom: 0;
  padding-bottom: 3px;
}

.header-reviews {
  flex-basis: 322px;
  min-height: 241px;
  margin-right: -17px;
  margin-bottom: -17px;
  padding-top: 73px;
  text-align: center;
  color: #ffffff;
  background: url("../img/review.png") bottom right no-repeat;
}

.review-number {
  margin: 0;
  font-weight: 700;
  font-size: 4.75em; /* 76/16 */
  line-height: 1;
  text-shadow: 0 1px 1px #891155;
}

.review-desc {
  margin: 0;
  margin-bottom: 46px;
  font-weight: 300;
  font-size: 2.6875em; /* 43/16 */
  line-height: 0.5;
  text-shadow: 0 1px 1px #891155;
}

.add-review {
  font-size: 0.75em; /* 12/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.down-btn {
  display: block;
  width: 11.91666666666667%; /* 143/1200 */
  height: 143px;
  margin: 0 auto;
  font-size: 0;
  background: url("../img/down-btn.png") no-repeat;
}

.catalog {
  background: url("../img/catalog-background.jpg") top center no-repeat;
}

.catalog-wrap {
  max-width: 1200px;
  margin: 0 auto 110px auto;
  padding: 20px 0 93px 0;
}

.catalog-item {
  padding: 55px 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.item-img {
  position: relative;
}

.item-img::after {
  content: "";
  position: absolute;
  bottom: -10px;
  z-index: 2;
  display: block;
  width: 162px;
  height: 83px;
  background: url(../img/watermark.png) no-repeat;
}

.catalog-item:nth-of-type(2n+1) .item-img::after {
  right: 0;
}

.catalog-item:nth-of-type(2n) .item-img::after {
  left: 0;
}

.exclusive::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 2;
  display: block;
  width: 143px;
  height: 143px;
  background: url(../img/exclusive.png) no-repeat;
}

.limited::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 2;
  display: block;
  width: 143px;
  height: 143px;
  background: url(../img/limited.png) no-repeat;
}

.harvest2016::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 5px;
  z-index: 2;
  display: block;
  width: 143px;
  height: 143px;
  background: url(../img/harvest2016.png) no-repeat;
}

.catalog-item:nth-of-type(2n+1) .item-img {
  float: left;
}

.catalog-item:nth-of-type(2n) .item-img {
  float: right;
}

.catalog-item:nth-of-type(2n+1) .item-properties {
  float: right;
}

.catalog-item:nth-of-type(2n) .item-properties {
  float: left;
}

.item-properties {
  width: 40.16666666666667%; /* 482/1200 */
  padding-top: 10px;
}

.item-heading {
  margin: 0;
  margin-bottom: 32px;
  color: #a8256f;
  text-transform: uppercase;
}

.bigger {
  display: block;
  font-weight: 700;
  font-size: 2em; /* 32/16 */
}

.smaller {
  margin-right: 12px;
  font-weight: 500;
  font-size: 1.5em; /* 24/16 */
}

.more {
  display: inline-block;
  margin-top: 4px;
  padding: 3px 18px;
  font-weight: 500;
  font-size: 0.6875em; /* 11/16 */
  color: #141414;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  border: 1px solid #151515;
}

.more:hover,
.more:focus,
.more:visited,
.more:active {
  color: #141414;
  text-decoration: none;
}

.item-description {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 300;
  font-size: 1em; /* 16/16 */
  color: #1b1a1a;
}

.item-description:last-of-type {
  margin-bottom: 33px;
}

.weight-wrap,
.quantity-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 134px;
  overflow: hidden;
}

.weight-wrap::after,
.quantity-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  height: 39px;
  width: 40px;
  border: 1px solid #6e6e6e;
  background: url("../img/arrow.png") center center no-repeat;
}

.weight-wrap {
  margin-right: 21px;
  margin-bottom: 28px;
}

.quantity-wrap {
  width: 110px;
}

.order-params label {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 0.75em; /* 12/16 */
  text-transform: uppercase;
}

.order-params select {
  width: 155px;
  padding: 8px 17px;
  font-size: 1em; /* 16/16 */
  background: none;
  border: 1px solid #6e6e6e;
}

.price {
  margin: 0;
  color: #424242;
}

.price-value {
  font-size: 3.1875em; /* 51/16 */
}

.price-currency {
  margin-right: 31px;
  font-size: 0.875em; /* 14/16 */
}

.add-to-cart {
  position: relative;
  display: inline-block;
  margin-top: 11px;
  padding: 13px 20px 11px 18px;
  vertical-align: top;
  font-weight: 700;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-transform: uppercase;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.add-to-cart::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/btn-decor.png") no-repeat;
}

.add-to-cart::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border-radius: 3px;
}

.catalog-item:nth-child(1) {
  padding: 77px 0;
}

.catalog-item:nth-of-type(1) .item-img::after {
  right: 40px;
}

.catalog-item:nth-child(1) .bigger {
  letter-spacing: -0.02em;
}

.catalog-item:nth-child(2) {
  padding-right:
}

.catalog-item:nth-child(2) .item-heading {
  margin-right: -55px;
}

.catalog-item:nth-child(2) {
  padding-bottom: 80px;
}

.catalog-item:nth-child(8) {
  padding-bottom: 45px;
}

.catalog-item:nth-child(8) .item-img {
  margin-top: -25px;
}

.catalog-item:nth-child(9),
.catalog-item:nth-child(10) {
  padding-top: 75px;
}

.catalog-item:nth-child(13) .item-img {
  margin-top: -40px;
}

.catalog-item:nth-child(8) .item-img,
.catalog-item:nth-child(10) .item-img,
.catalog-item:nth-child(12) .item-img,
.catalog-item:nth-child(14) .item-img,
.catalog-item:nth-child(16) .item-img,
.catalog-item:nth-child(18) .item-img {
  margin-right: -25px;
}

.catalog-item:nth-child(19),
.catalog-item:nth-child(20),
.catalog-item:nth-child(21) {
  padding-top: 80px;
}

.order {
  max-width: 1200px;
  margin: 0 auto 132px auto;
  text-align: center;
}

.order h2 {
  margin: 0 0 57px 0;
  font-weight: 700;
  font-size: 2.5em; /* 40/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.order p {
  margin: 0 0 21px 0;
  font-weight: 300;
  font-size: 1em; /* 16/16 */
  line-height: 1.2em;
  color: #1b1a1a;
  text-align: left;
}

.order-bolder {
  font-weight: 700;
  font-size: 0.875em; /* 14/16 */
  text-transform: uppercase;
}

.order p:last-of-type {
  margin-bottom: 58px;
}

.phone-order {
  position: relative;
  display: inline-block;
  margin-top: 11px;
  padding: 14px 42px 14px 44px;
  vertical-align: top;
  font-weight: 700;
  font-size: 1.125em; /* 18/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border: none;
  border-radius: 3px;
}

.phone-order::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/btn-decor.png") no-repeat;
}

.phone-order::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border-radius: 3px;
}

.payment {
  max-width: 1200px;
  margin: 0 auto 117px auto;
}

.payment h2 {
  margin: 0 0 57px 0;
  font-weight: 700;
  font-size: 2.5em; /* 40/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.payment p {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 1em; /* 16/16 */
  line-height: 1.2em;
  color: #1b1a1a;
}

.payment p:last-of-type {
  margin-bottom: 36px;
}

.payment-method {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.payment-method li {
  display: block;
  width: 105px;
  height: 63px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.26);
}

.payment-method li:nth-child(1) {
  background: url("../img/pay1.jpg");
}

.payment-method li:nth-child(2) {
  background: url("../img/pay2.jpg");
}

.payment-method li:nth-child(3) {
  background: url("../img/pay3.jpg");
}

.payment-method li:nth-child(4) {
  background: url("../img/pay4.jpg");
}

.payment-method li:nth-child(5) {
  background: url("../img/pay5.jpg");
}

.payment-method li:nth-child(6) {
  background: url("../img/pay6.jpg");
}

.payment-method li:nth-child(7) {
  background: url("../img/pay7.jpg");
}

.payment-method li:nth-child(8) {
  background: url("../img/pay8.jpg");
}

.payment-method li:nth-child(9) {
  background: url("../img/pay9.jpg");
}

.payment-method li:nth-child(10) {
  background: url("../img/pay10.jpg");
}

.delivery {
  max-width: 1200px;
  margin: 0 auto 110px auto;
}

.delivery h2 {
  margin: 0 0 56px 0;
  font-weight: 700;
  font-size: 2.5em; /* 40/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.delivery p {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 1em; /* 16/16 */
  line-height: 1.2em;
  color: #1b1a1a;
}

.delivery p:last-of-type {
  margin-bottom: 34px;
}

.delivery b {
  font-weight: 700;
}

.delivery-method {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.delivery-method li {
  display: block;
  width: 158px;
  height: 65px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.26);
}

.delivery-method li:nth-child(1) {
  background: url("../img/delivery1.jpg");
}

.delivery-method li:nth-child(2) {
  background: url("../img/delivery2.jpg");
}

.delivery-method li:nth-child(3) {
  background: url("../img/delivery3.jpg");
}

.delivery-method li:nth-child(4) {
  background: url("../img/delivery4.jpg");
}

.delivery-method li:nth-child(5) {
  background: url("../img/delivery5.jpg");
}

.delivery-method li:nth-child(6) {
  background: url("../img/delivery6.jpg");
}

.delivery-method li:nth-child(7) {
  background: url("../img/delivery7.jpg");
}

.benefit {
  max-width: 1200px;
  margin: 0 auto 110px auto;
}

.benefit h2 {
  margin: 0 0 52px 0;
  font-weight: 700;
  font-size: 2.5em; /* 40/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.benefit-left {
  float: left;
}

.benefit-right {
  float: right;
}

.benefit-left,
.benefit-right {
  width: 50%;
  margin: 0;
}

.benefit-list {
  list-style: none;
  padding: 0;
}

.benefit-item {
  margin-bottom: 9px;
  padding: 5px 20px 5px 45px;
  background: url("../img/benefit-icon.png") left center no-repeat;
}

.features {
  max-width: 1200px;
  margin: 0 auto 110px auto;
}

.features h2 {
  margin: 0 0 57px 0;
  font-weight: 700;
  font-size: 2.5em; /* 40/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.features p {
  margin: 0 0 29px 0;
  font-weight: 300;
  font-size: 1em; /* 16/16 */
  line-height: 1.4em;
  color: #1b1a1a;
}

.features p:last-of-type {
  margin-bottom: 39px;
}

.feature-img1,
.feature-img2 {
  margin-right: 0.33333333333333%; /* 4/1200 */
}

.feature-img1 {
  width: 46.41666666666667%; /* 557/1200 */
}

.feature-img2 {
  width: 25.91666666666667%; /* 331/1200 */
}

.feature-img3 {
  width: 26.08333333333333%; /* 313/1200 */
}

.reviews {
  max-width: 1200px;
  margin: 0 auto 157px auto;
  text-align: center;
}

.reviews h2 {
  margin: 0 0 57px 0;
  font-weight: 700;
  font-size: 2.5em; /* 40/16 */
  color: #272528;
  text-align: center;
  text-transform: uppercase;
}

.reviews-wrap {
  width: 70.08333333333333%; /* 841/1200 */
  margin-bottom: 80px;
  padding: 38px 0 35px 0;
  background-color: #ffffff;
}

.review-item {
  margin-bottom: 37px;
  text-align: left;
}

.review-item:last-child {
  margin-bottom: 0;
}

.review-avatar {
  position: relative;
  float: left;
  width: 11.17717003567182%; /* 94/841 */
  text-align: right;
}

.review-avatar img {
  border-radius: 3px;
}

.vk-icon::after {
  content: "";
  position: absolute;
  right: -8px;
  bottom: -4px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/sprite.png") -5px -271px no-repeat;
  border-radius: 50%;
}

.review-main {
  margin-left: 13.07966706302021%; /* 110/841 */
}

.review-name {
  display: inline-block;
  margin: 0 15px 0 0;
  font-weight: 700;
  font-size: 1em;
}

.social-top {
  display: flex;
  margin-bottom: 15px;
}

.review-time {
  margin: 0 auto 0 0;
  color: #c3bec2;
}

.social-top a {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 0;
  background: url("../img/sprite.png") no-repeat;
}

.social-top .copy-link {
  margin-right: 15px;
  background-position: -5px -117px;
}

.social-top .share {
  margin-right: 15px;
  background-position: -5px -243px;
}

.social-top .action-3 {
  background-position: -5px -215px;
}

.review-text {
  margin: 0 0 10px 0;
}

.social-bottom {
  display: flex;
}

.reply {
  margin: 0 auto 0 0;
  color: #78a771;
}

.like-btn,
.dislike-btn {
  display: block;
  width: 22px;
  height: 25px;
  background: url("../img/sprite.png") no-repeat;
}

.like-btn {
  margin-right: 14px;
  font-size: 0;
  background-position: -5px -180px;
}

.dislike-btn {
  margin-right: 20px;
  font-size: 0;
  background-position: -5px -145px;
}

.like-count {
  color: #78a771;
}

.more-reviews {
  position: relative;
  display: inline-block;
  width: 214px;
  margin-right: 15px;
  padding: 16px 0 15px 0;
  vertical-align: top;
  font-weight: 500;
  font-size: 1em; /* 16/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.all-reviews {
  position: relative;
  display: inline-block;
  width: 214px;
  padding: 16px 0 15px 0;
  vertical-align: top;
  font-weight: 500;
  font-size: 1em; /* 16/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.all-reviews::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/btn-decor.png") no-repeat;
}

.all-reviews::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border-radius: 3px;
}

.vk-feedback {
  background-color: #fbeddb;
}

.vk-feedback-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 78px 0 87px 0;
}

.vk-vidget {
  flex-basis: 43.58333333333333%; /* 523/1200 */
  padding-top: 7px;
  background: url("../img/vkgroup.jpg");
}

.feedback {
  flex-basis: 43.75%; /* 525/1200 */
  font-size: 1em; /* 16/16 */
  color: #1b1a1a;
}

.feedback h2 {
  margin: 0 0 31px 0;
  font-weight: 500;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-transform: uppercase;
}

.feedback p {
  margin: 0 0 10px 0;
  line-height: 1.4em;
}

.main-phone {
  font-weight: 700;
  font-size: 1.375em; /* 22/16 */
}

.feedback .mail-text {
  margin-bottom: 43px;
}

.feedback-form label {
  display: none;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border: 1px solid #6e6e6e;
}

.feedback input {
  margin-bottom: 13px;
  padding: 11px 0 10px 13px;
}

.feedback-text {
  height: 123px;
  margin-bottom: 30px;
  padding: 11px 0 0 13px;
}

input::placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input:placeholder-shown {
  color: #1b1a1a;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input::-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input:-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea::placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea:placeholder-shown {
  color: #1b1a1a;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea::-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea:-moz-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

textarea:-ms-input-placeholder {
  color: #1b1a1a;
  opacity: 1;
}

.feedback-btn {
  position: relative;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 13px 0 12px 0;
  vertical-align: top;
  font-size: 0.875em; /* 14/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border: none;
  border-radius: 3px;
}

.feedback-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/btn-decor.png") no-repeat;
}

.feedback-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#ef49a7, #99356e);
  border-radius: 3px;
}

.main-footer {
  padding: 18px 0 16px 0;
  color: #ffffff;
  background-color: #ae3f7e;
  text-align: center;
}

.footer-copyright {
  margin: 0;
  font-size: 1em; /* 16/16 */
}

.callback-modal-close {
  display: none;
}

.callback-modal-open {
  display: block;
}

.callback-modal {
  position: fixed;
  top: 25%;
  left: 50%;
  right: 0;
  z-index: 99;
  width: 671px;
  height: 416px;
  margin-left: -335px;
  text-align: center;
  background: #ffffff;
}

.close-btn {
  position: absolute;
  top: 5.52884615384615%; /* 23/416 */;
  right: 3.725782414307%; /* 25/671 */
  display: block;
  width: 21px;
  height: 21px;
  background-color: none;
  background: url("../img/sprite.png") -5px -305px no-repeat;
  border: none;
  outline: none;
}

.callback-heading {
  margin: 12.36959761549925% 0 58px 0; /* 83/671 */
  font-weight: 500;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-transform: uppercase;
}

.callback-form {
  width: 455px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px dashed yellowgreen;
}

.callback-form label {
  margin-right: 5px;
  font-weight: 500;
  font-size: 1.5em; /* 24/16 */
  color: #1b1a1a;
}

.callback-phone {
  width: 87.25274725274725%; /* 397/455 */
  height: 34px;
  margin-bottom: 62px;
}

.callback-modal-btn {
  position: relative;
  display: inline-block;
  width: 55.6043956043956%; /* 253/455 */
  padding: 15px 0 17px 0;
  vertical-align: top;
  font-weight: 700;
  font-size: 1.125em; /* 18/16 */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border: none;
  border-radius: 3px;
}

.callback-modal-btn::before {
  content: "";
  position: absolute;
  bottom: 10px;
  right: -60px;
  display: block;
  width: 66px;
  height: 50px;
  background: url("../img/btn-decor.png") no-repeat;
}

.callback-modal-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 10px;
  height: 100%;
  background-color: #9c3670;
  background-image: linear-gradient(#b1ea00, #6f9803);
  border-radius: 3px;
}

.modal-open {
  overflow: visible;
}

/*.modal {
  overflow: visible;
}*/

/*.modal-open .modal {
  overflow-x: visible;
  overflow-y: visible;
}*/

.modal-scrollbar-measure {
  overflow: visible;
}

.modal-description {
  /*position: fixed;
  top: 25%;
  left: 50%;
  right: 0;
  z-index: 99;
  width: 671px;
  height: 416px;
  margin-left: -335px;
  text-align: center;*/
  background: #ffffff;
}

.close-desc-btn {
  position: absolute;
  top: 23px;
  right: 25px;
  display: block;
  width: 21px;
  height: 21px;
  background-color: none;
  background: url("../img/sprite.png") -5px -305px no-repeat;
  border: none;
  outline: none;
}

.item-desc-heading {
  margin: 83px 0 58px 0;
  font-weight: 500;
  font-size: 1.875em; /* 30/16 */
  color: #272528;
  text-transform: uppercase;
  text-align: center;
}

.item-desc-img {
  float: left;
  margin-right: 15px;
}
